<div fxLayout="row" fxLayoutAlign="start
   center">
  <mat-card class="login">
    <app-title></app-title>
    <mat-card-subtitle>
      <h2 style="color: #202124;font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;">
        Forgot Password
      </h2>
    </mat-card-subtitle>
    <div>
      <mat-form-field appearance="outline" >
        <mat-label>Email</mat-label>
        <input type="email" name="email" matInput placeholder="Enter your email" [(ngModel)]="forgotPasswordObject.email" [formControl]="email">
        <mat-error *ngIf="email.invalid">{{emailValidation()}}</mat-error>
        <mat-hint>Enter your email</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="onSubmit()" style="float:right;" class="button">Send Link</button>
    </div>
  </mat-card>

</div>