.matcard{
    max-width: 700px;
    max-height: 550px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 3vw;
    padding: 3rem 2rem;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}

mat-form-field{
    margin: 10px;
    font-size: 14px;
    font-weight: 500;
}

.mat-card-image{
    width: 300px;
}


#username{
    width: 100%;
}

#usernameSuffix{
    margin-right: 90px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.image{
    width: 250px;
    height: 400px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.example-margin {
    margin-top: 10px;
  }

mat-error,mat-hint{
    margin-bottom: 5px;
}