 mat-toolbar {
   background-color: transparent;
   margin-top: 10px;
 }

 h2#title {
   padding-top: 6%;
   margin-left: 25px;
   font-family: 'Product Sans', Arial, sans-serif;
   font-size: 22px;
   color: #5f6368;
   opacity: 1;
   font-weight: 500;
 }

 .example-container {
   width: 500px;
   height: 300px;
   border: 1px solid rgba(0, 0, 0, 0.5);
 }


 .example-sidenav {
   padding: 20px;
   width: 300px;
 }

 .sidenavbar {
   width: 400px;
   height: 87vh;
 }


 mat-list-item {
   padding-left: 12px;
   border-top-right-radius:  30px;
   border-bottom-right-radius: 30px;;
 }

 mat-icon{
   padding-right:20px;
 }
 
 mat-sidenav{
  width: 280px;
 }

 .mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:focus,
.mat-list-option:focus {
  background:  #feefc3 !important;
}