<div>
  <mat-toolbar>
    <div fxLayout="row" fxFlex fxLayoutAlign="start space-evenly">
      <div fxLayout="row" fxLayoutGap=5% fxLayoutAlign="center center" fxFlexOffset=2%>
        <div>
          <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
            <mat-icon matTooltip="menu">menu</mat-icon>
          </button>
        </div>
        <div>
          <img height="45" width="45" src="../../../assets/keep_2020q4_48dp.png">
        </div>
        <div>
          <h2 id="title">{{appName}}</h2>
        </div>
      </div>
      <form role="search" fxFlex=55 fxFlex.sm=75 fxFlex.md=75 fxFlex.xs=75 fxFlexOffset=6% fxLayoutAlign="center">
        <mat-form-field class="search" appearance="outline" fxFlex=100 class="search">
          <button mat-icon-button class="search-button">
            <mat-icon matTooltip="Search" class="search-button-icon">search</mat-icon>
          </button>
          <input type="search" [(ngModel)]="search" name="search" fxFlex="100" matInput placeholder="Search"
            class="search-window" autocomplete="off" />
          <button *ngIf="search" class="clear-button" mat-icon-button (click)="search=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <div fxLayout="row" fxFlex=10 fxLayoutGap=20% fxFlexOffset=10%>
        <div class="grid-list" fxFlex=30 fxFlex.lg=30 fxFlex.md=30 fxFlex.sm=30 fxFlex.xs=30>
          <button mat-icon-button *ngIf='!isGridView' (click)="viewChange()">
            <img style="width:24px;height:24px;" src="../../../assets/svg/view_agenda-black-18dp.svg">
          </button>
          <button mat-icon-button *ngIf='isGridView' (click)="viewChange()">
            <mat-icon>grid_view</mat-icon>
          </button>
        </div>
        <div fxFlex.md=5 fxFlex.sm=20 fxFlex.xs=4 fxLayoutAlign=end>
          <button mat-button mat-icon-button fxShow="true">
            <img  [matMenuTriggerFor]="menu" style="width:24px;height:24px;" src="../../../assets/svg/avatar.svg">
          </button>
        </div>
        <mat-menu #menu="matMenu">
          <div fxFlexFill fxLayout="column" fxLayoutGap="15px">
            <div class="profile-image" style="border-radius: 100%;">
              <img mat-card-avatar style="height: 70px;width: 70px;" [src]="" alt="avatar">
            </div>
            <div class="details" >
              <mat-card-title style="font-size:14px;font-family: Roboto,Arial,sans-serif;">email
              </mat-card-title>
            </div>
          </div>
          <div class="footer" fxLayout="row" fxLayoutAlign="space-between center" fxFlex=100>
            <button style="margin-left:15px;" mat-raised-button  id="add-btn" color="">Add account</button>
            <button style="margin-right: 15px;" mat-raised-button  id="logout-btn" color="">Sign out</button>
          </div>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container (click)="isPristine=false" fxFlexFill class="sidenavbar">
    <mat-sidenav #sidenav mode='side'>
      <mat-nav-list fxLayout="column" fxFlex="100">
        <mat-list-item disableRipple routerLink="home" [class.noteActive]=isPristine [routerLinkActive]="['is-active']" class="notes">
          <mat-icon class="nav_icon" matTooltip="Create Notes">lightbulb_outline</mat-icon>
          Notes
        </mat-list-item>
        <mat-list-item disableRipple routerLink="reminder" [routerLinkActive]="['is-active']" class="reminder">
          <mat-icon class="nav_icon" matTooltip="Create Reminder">notifications_none</mat-icon> Reminder
        </mat-list-item>
        <div fxLayout="column">
          <div *ngFor="let data of labelsDisplay">
            <mat-list-item disableRipple routerLink="label/:data" [routerLinkActive]="['is-active']" name="data"
              class="showlabel" mat-button>
              <img src="../../../assets/svg/label-black-24dp.svg">
              {{data.lableName}}
              <br>
            </mat-list-item>
          </div>
        </div>
        <mat-list-item disableRipple routerLink="edit_label" [routerLinkActive]="['is-active']" class="notes">
          <img src="../../../assets/svg/edit.svg"> Edit Labels
        </mat-list-item>
        <mat-list-item disableRipple routerLink="archive" [routerLinkActive]="['is-active']" class="notes">
          <img src="../../../assets/svg/archive.svg"> Archive
        </mat-list-item>
        <mat-list-item disableRipple routerLink="trash" [routerLinkActive]="['is-active']" class="notes">
          <img mat-icon src="../../../assets/svg/delete.svg"> Trash
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
