mat-card{
    width: 448px;
    max-height: 500px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 2vw;
    padding: 2rem 2rem;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}

mat-form-field{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.showPassword{
    margin-top: 15px;
}
