  <app-addNote></app-addNote>
  <div class="unpin-container">
    <div class="one-note" [ngClass]="{'ng-one-note-grid': viewListGrid , 'ng-one-note-flex': !viewListGrid  }">
      <div [ngClass]="{'notes-container':viewListGrid}" *ngFor="let note of getNote?.reverse()">
        <mat-card class="note-card-class" [ngStyle]="noteColor(note.color)">
          <div class="mat-card-" (click)="openDialog(note)">
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div class="note-title">{{note.title}}</div>
              <div class="pin-class">
                <button *ngIf="note.isPined" (click)="setPinNote(note); $event.stopPropagation();" mat-button
                  mat-icon-button>
                  <span matTooltip="pin note">
                    <img src="../../../assets/baseline_push_pin_black_24dp.png">
                  </span>
                </button>
                <button *ngIf="!note.isPined" (click)="setPinNote(note);$event.stopPropagation();" mat-button
                  mat-icon-button>
                  <span matTooltip="pin note">
                    <img src="../../../assets/outline_push_pin_black_24dp.png">
                  </span>
                </button>
              </div>
            </div>
            <div>
              <div class="note-content">{{note.description}}</div>
              <div class="label-content" fxLayoutGap="10px">
                <div id="content1">
                  <div *ngFor="let reminder of note.reminder">
                    <div class="chip">
                      {{reminder}}
                      <i role="button" (click)="removeReminderFromNote(note,reminder);$event.stopPropagation()"
                        matTooltip="Remove reminder" class='material-icons close'>close</i>
                    </div>
                  </div>
                  <div *ngFor="let label of note.noteLabels">
                    <div class="chip">
                      {{label.label}}
                      <i role="button" (click)="removeExistingLabelFromNote(note,label);$event.stopPropagation()"
                        matTooltip="Remove Label" class='material-icons close'>close</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-noteToolBar [note]="note"></app-noteToolBar>
        </mat-card>
      </div>
    </div>
  </div>
