<div class="container" [ngStyle]="dialogColor()">
  <div class="one-note">
    <div class="note-title">
      <textarea matInput cdkTextareaAutosize type="text" placeholder="Title" name="title"
        [(ngModel)]="editNote.title"></textarea>
    </div>
    <div class="note-content">
      <textarea matInput rows="6" type="text" cdkTextareaAutosize placeholder="Take a note..."
        [(ngModel)]="editNote.description"></textarea>
    </div>
    <div class="display-time">Edited: {{editNote.modifiedDate| date:'short'}}</div>
    <app-noteToolBar [note]="data"></app-noteToolBar>
  </div>
</div>
