$border-color: #92968e;

.container {
    display: flex;
    justify-content: center;
    margin: 2vw 0 2vw 0;
}

.create-note-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 50%;
    max-width: 50%;
    padding: 8px;
    // border: $border-color 1px solid;
    border-radius: 6px;
    box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(24, 20, 19, 0), 0 5px 2px 0 rgba(0,0,0,.12)
}

.create-note-menu{
    place-self: center;
}

.main{
    margin:10px;
}

mat-card{
    max-width:560px;
    height:fit-content;
}

