.container {
  margin: 3vw;
  padding: 8px;
  max-width: 600px;
  display: flex;
  font-size: 1.25em;
  box-shadow: 0 3px 5px dimgrey;
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #e0e0e0;
  font-weight: bold;
}
.pin-class {
  margin:0;
  cursor: pointer;
  float: right;

  .pin-class>img {
      background-color: #b5afaf75;
      width: 25px;
      height: 25px;
      border-radius: 50%;
  }
}

textarea {
  font-size: 1.5em;
}


.change-color {
  display: grid;
  padding: 0px 4px 0px 4px;
  grid-template-columns: 25% 25% 25% 25%;
}

.change-color>button {
  height: 26px;
  width: 26px;
  margin: 2px;
}
