<div fxFlex=100 fxFlex.xs=100 fxFlex.lg=100 fxFlex.md=100 fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="container" fxFlex=60 *ngIf="!showNoteContent">
    <textarea (click)="showNoteContent=true" 
      matInput cdkTextareaAutosize [formControl]="description" placeholder="Take a note.."></textarea>
      <button *ngIf="!showNoteContent" matTooltip="New list" mat-icon-button>
        <img src="../../../assets/outline_check_box_black_24dp.png">
      </button>
      <button *ngIf="!showNoteContent" matTooltip="New note with drawing" mat-icon-button>
        <img src="../../../assets/outline_brush_black_24dp.png">
      </button>
      <button *ngIf="!showNoteContent" matTooltip="New note with image" mat-icon-button>
        <img src="../../../assets/outline_insert_photo_black_24dp.png">
      </button>
  </mat-card>
  <mat-card *ngIf="showNoteContent" fxFlex=60 class="container">
    <div fxFlex=100 fxFlex.xs=100 fxLayout="column" fxLayoutGap=5% fxLayoutAlign="space around start">
      <div *ngIf="showNoteContent" class="title">
        <input matInput type="text" style="font-size: 21px;" [formControl]="title" placeholder="Title">
      </div>
      <div fxFlex=100 fxLayout=row fxLayoutGap="15px">
        <textarea matInput
          cdkTextareaAutosize [formControl]="description" placeholder="Take a note.."></textarea>
        <button *ngIf="!showNoteContent" matTooltip="New list" mat-icon-button>
          <img src="../../../assets/outline_check_box_black_24dp.png">
        </button>
        <button *ngIf="!showNoteContent" matTooltip="New note with drawing" mat-icon-button>
          <img src="../../../assets/outline_brush_black_24dp.png">
        </button>
        <button *ngIf="!showNoteContent" matTooltip="New note with image" mat-icon-button>
          <img src="../../../assets/outline_insert_photo_black_24dp.png">
        </button>
      </div>
      <div *ngIf="showNoteContent" class="create-note-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="create-note-menu" fxLayout="row" fxLaoutAline="space-between center" fxLayoutGap="14%">
          <span matTooltip="reminder" [matMenuTriggerFor]="matMenuReminder">
            <mat-icon> <img src="../../../assets/outline_add_alert_black_24dp.png">
            </mat-icon>
          </span>
          <span matTooltip="Collaborate">
            <mat-icon> <img src="../../../assets/outline_person_add_black_24dp.png">
            </mat-icon>
          </span>
          <span matTooltip="Change color" [matMenuTriggerFor]="matMenuChangeColor">
            <mat-icon> <img src="../../../assets/outline_palette_black_24dp.png">
            </mat-icon>
          </span>
          <span matTooltip="Add image">
            <mat-icon> <img src="../../../assets/outline_insert_photo_black_24dp.png">
            </mat-icon>
          </span>
          <span matTooltip="Archive">
            <mat-icon> <img src="../../../assets/outline_archive_black_24dp.png">
            </mat-icon>
          </span>
          <span matTooltip="More" [matMenuTriggerFor]="matMenuMore">
            <mat-icon> <img src="../../../assets/outline_more_vert_black_24dp.png">
            </mat-icon>
          </span>
          <span>
            <mat-icon matTooltip="undo">undo</mat-icon>
          </span>
          <span>
            <mat-icon matTooltip="redo">redo</mat-icon>
          </span>
        </div>
        <div>
          <button mat-button (click)="showHideButton()">Close</button>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-menu #matMenuReminder="matMenu">
    <div><span>Reminder: </span>
      <button mat-menu-item>Later Today</button>
      <button mat-menu-item>Tomorrow</button>
      <button mat-menu-item>Next Week</button>
      <button mat-menu-item>Home</button>
      <button mat-menu-item>Work</button>
      <button mat-menu-item>
        <mat-icon>access_time</mat-icon>Pick date & time
      </button>
      <button mat-menu-item>
        <mat-icon> place</mat-icon>Pick place
      </button>
    </div>
  </mat-menu>
  <mat-menu #matMenuChangeColor="matMenu">
    <div class='change-color'>
      <button mat-mini-fab style="background-color: #FFFFFF;"></button>
      <button mat-mini-fab style="background-color: #fff475;"></button>
      <button mat-mini-fab style="background-color: #f28b82;"></button>
      <button mat-mini-fab style="background-color: #fbbc04;"></button>
      <button mat-mini-fab style="background-color: #ccff90;"></button>
      <button mat-mini-fab style="background-color: #a7ffeb;"></button>
      <button mat-mini-fab style="background-color: #cbf0f8;"></button>
      <button mat-mini-fab style="background-color: #aecbfa;"></button>
      <button mat-mini-fab style="background-color: #d7aefb;"></button>
      <button mat-mini-fab style="background-color: #fdcfe8;"></button>
      <button mat-mini-fab style="background-color: #e6c9a8;"></button>
      <button mat-mini-fab style="background-color: #e8eaed;"></button>
    </div>
  </mat-menu>
  <mat-menu #matMenuMore="matMenu">
    <button mat-menu-item>Add label</button>
    <button mat-menu-item>Add drawing</button>
    <button mat-menu-item>Show checkboxes</button>
  </mat-menu>
</div>
