.container {
    margin: 3vw;
}

mat-card{
    padding:6px 16px 0px 16px;
    max-width: 600px;
    // box-shadow: 5px 5px 5px 5px;
}


.change-color{
    display: grid;
    padding: 0px 4px 0px 4px;
    grid-template-columns: 25% 25% 25% 25%;
}
.change-color>button
{
    height: 26px;
    width: 26px;
    margin: 2px;
}