<div>
  <div class="create-note-toolbar" fxLayout="row" fxLayoutAlign="space-around center">
    <span matTooltip="reminder" [matMenuTriggerFor]="matMenuReminder">
      <mat-icon> <img src="../../../assets/outline_add_alert_black_24dp.png">
      </mat-icon>
    </span>
    <span matTooltip="Collaborate">
      <mat-icon> <img src="../../../assets/outline_person_add_black_24dp.png">
      </mat-icon>
    </span>
    <span matTooltip="Change color" [matMenuTriggerFor]="matMenuChangeColor">
      <mat-icon> <img src="../../../assets/outline_palette_black_24dp.png">
      </mat-icon>
    </span>
    <span matTooltip="Add image">
      <mat-icon> <img src="../../../assets/outline_insert_photo_black_24dp.png">
      </mat-icon>
    </span>
    <span (click)="archiveNote()">
      <mat-icon *ngIf="!note.isArchived" matTooltip="archive"> <img
          src="../../../assets/outline_archive_black_24dp.png">
      </mat-icon>
      <mat-icon *ngIf="note.isArchived" matTooltip="unarchive"> <img
          src="../../../assets/outline_unarchive_black_24dp.png">
      </mat-icon>
    </span>
    <span matTooltip="More" [matMenuTriggerFor]="matMenuMore">
      <mat-icon> <img src="../../../assets/outline_more_vert_black_24dp.png">
      </mat-icon>
    </span>
    <div>
      <button mat-button (click)="addOrEditNote()">Close</button>
    </div>
  </div>
  <mat-menu #matMenuReminder="matMenu">
    <div>
      <h3>Reminder: </h3>
      <button mat-menu-item>
        <mat-icon>access_time</mat-icon>
        <input [(ngModel)]="datetimereminder" (ngModelChange)="setReminder()" placeholder="Date Time">
      </button>
    </div>
  </mat-menu>
  <mat-menu #matMenuChangeColor="matMenu">
    <div class='change-color'>
      <button mat-mini-fab style="background-color: #FFFFFF;" (click)="changeColor('#FFFFFF')"></button>
      <button mat-mini-fab style="background-color: #fff475;" (click)="changeColor('#fff475')"></button>
      <button mat-mini-fab style="background-color: #f28b82;" (click)="changeColor('#f28b82')"></button>
      <button mat-mini-fab style="background-color: #fbbc04;" (click)="changeColor('#fbbc04')"></button>
      <button mat-mini-fab style="background-color: #ccff90;" (click)="changeColor('#ccff90')"></button>
      <button mat-mini-fab style="background-color: #a7ffeb;" (click)="changeColor('#a7ffeb')"></button>
      <button mat-mini-fab style="background-color: #cbf0f8;" (click)="changeColor('#cbf0f8')"></button>
      <button mat-mini-fab style="background-color: #aecbfa;" (click)="changeColor('#aecbfa')"></button>
      <button mat-mini-fab style="background-color: #d7aefb;" (click)="changeColor('#d7aefb')"></button>
      <button mat-mini-fab style="background-color: #fdcfe8;" (click)="changeColor('#fdcfe8')"></button>
      <button mat-mini-fab style="background-color: #e6c9a8;" (click)="changeColor('#e6c9a8')"></button>
      <button mat-mini-fab style="background-color: #e8eaed;" (click)="changeColor('#e8eaed')"></button>
    </div>
  </mat-menu>
  <mat-menu #matMenuMore="matMenu">
    <button mat-menu-item (click)="trashRestore()">Delete note</button>
    <button mat-menu-item [matMenuTriggerFor]="addLabels">Add label</button>
    <button mat-menu-item>Make a copy</button>
  </mat-menu>
  <mat-menu #addLabels="matMenu">
    <form >
    <div>
      <input matInput type="text" [(ngModel)]="createLabelObject.label" placeholder="Label">
    </div>
    <div  style="padding-left: 10px;" *ngFor="let oneLabel of allLabels">
      <div>
        <input type="checkbox" checked (click)='addedLabel(note, oneLabel.label)'><label>{{oneLabel.label}} </label>
      </div>
    </div>
    </form>
  </mat-menu>
</div>
