.matcard{
    height: 748px;
    width: 600px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 3vw;
    margin-bottom: auto;
    padding: 3rem 2rem;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}
mat-card-content {
}

mat-form-field{
    font-size: 14px;
    height: 20px;
    padding: 6px 8px;
    margin: 20px;
    box-sizing: inherit;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}

.mat-card-image{
    width: 300px;
}
